<html>
  <head>
    <link rel="stylesheet" href='/static/style.css' />
  </head>
  <body>
    <h1>Farum Bibliotek Juletræslys</h1>
    <ul>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2001/">Eksempel</a></li>
      <div class="ConradXLukas">
        <li><h1 href="http://farumbibliotek.codingpirates-furesø.dk:2002/">Det bedste af dem ALLE ConradXLukas</h1>
        <h1>Farve muligheder på NeoPixeler</h1></li>
      </div>
      <h2 id="">Alt det andet lort<h2>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2003/">Projekt 3</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2004/">Projekt 4: Farveskift på Neopixel af Tore og Daniel</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2005/">Projekt 5</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2006/">Projekt 6</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2007/">Projekt 7</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2008/">Projekt 8</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2009/">Projekt 9</a></li>
      <li><a href="http://farumbibliotek.codingpirates-furesø.dk:2010/">Projekt 10</a></li>
    </ul>
  </body>
</html>
